.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page {
  padding: 10px;
}


.message {
  margin-right: 10px;
  margin-left: 10px;
}

.error {
  color: red
}

.row {
  display:flex;
  flex-direction:row;
}

.col {
  display:flex;
  flex-direction:column;
}

.g1 { gap:1px; }
.g2 { gap:0.125rem; }
.g4 { gap:0.25rem; }
.g6 { gap:0.375rem; }
.g8 { gap:0.5rem; }
.g10 { gap:0.625rem; }
.g12 { gap:0.75rem; }
.g16 { gap:1rem; }

.p1 { padding:1px; }
.p2 { padding:0.125rem; }
.p4 { padding:0.25rem; }
.p6 { padding:0.375rem; }
.p8 { padding:0.5rem; }
.p10 { padding:0.625rem; }
.p12 { padding:0.75rem; }
.p16 { padding:1rem; }

.bg-blue { background-color: blue;}
.bg-green { background-color: green;}

.error input[type=text], .error input[type=password] {
  border: solid red 1px;
  border-radius: 3px;
  padding: 3px;
  color: red;
}


.link {
  text-decoration: underline;
  cursor: pointer;
}
