.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  margin-right: 10px;
  margin-left: 10px;
}

.error {
  color: red
}

.error input[type=text], .error input[type=password] {
  border: solid red 1px;
  border-radius: 3px;
  padding: 3px;
  color: red;
}
